# 通用行情数据接口

In [1]:
import tushare as ts
ts.set_token('{78fa404f3a53bb777bb4a8d744fbb1756ec66a32745140baf17c55d7}')#账号的token

# 爬取20年内的基金数据

### 生成日期列表

In [2]:
import datetime
import time
today = '2021-5-10'
date_list = []
time_tuple = time.strptime(today,"%Y-%m-%d")
year,month,day = time_tuple[:3]
for i in range(365*20):
    date_list.append((datetime.date(year,month,day)-datetime.timedelta(days=i)).strftime("%Y%m%d"))
date_list[0:10]

['20210510',
 '20210509',
 '20210508',
 '20210507',
 '20210506',
 '20210505',
 '20210504',
 '20210503',
 '20210502',
 '20210501']

### 爬取数据

In [3]:
import pandas as pd
import time
i = 0
for date in date_list:
    try:
        pro = ts.pro_api('78fa404f3a53bb777bb4a8d744fbb1756ec66a32745140baf17c55d7')
        time.sleep(0.75)
        df = pro.fund_daily(ts_code = '510050.SH',trade_date = date,asset='FD')
        if i == 0:
            data = df
            i+=1
        else:
            i+=1
            data = pd.concat([data,df])
        if i%100 == 0:
            print('爬取第{}天数据，数据总长度为:{}'.format(date,len(data)))
    except Exception as err:
        print(err)
        date_list.insert(0,date)
        time.sleep(30)

爬取第20210131天数据，数据总长度为:62
爬取第20201023天数据，数据总长度为:132
爬取第20200715天数据，数据总长度为:198
爬取第20200406天数据，数据总长度为:264
爬取第20191228天数据，数据总长度为:327
爬取第20190919天数据，数据总长度为:394
爬取第20190611天数据，数据总长度为:465
爬取第20190303天数据，数据总长度为:531
爬取第20181123天数据，数据总长度为:595
爬取第20180815天数据，数据总长度为:661
爬取第20180507天数据，数据总长度为:732
爬取第20180127天数据，数据总长度为:793
爬取第20171019天数据，数据总长度为:864
爬取第20170711天数据，数据总长度为:931
爬取第20170402天数据，数据总长度为:997
爬取第20161223天数据，数据总长度为:1062
爬取第20160914天数据，数据总长度为:1127
爬取第20160606天数据，数据总长度为:1197
爬取第20160227天数据，数据总长度为:1265
爬取第20151119天数据，数据总长度为:1331
爬取第20150811天数据，数据总长度为:1396
爬取第20150503天数据，数据总长度为:1466
爬取第20150123天数据，数据总长度为:1530
爬取第20141015天数据，数据总长度为:1600
爬取第20140707天数据，数据总长度为:1666
爬取第20140329天数据，数据总长度为:1732
爬取第20131219天数据，数据总长度为:1798
爬取第20130910天数据，数据总长度为:1863
爬取第20130602天数据，数据总长度为:1931
爬取第20130222天数据，数据总长度为:1997
爬取第20121114天数据，数据总长度为:2061
爬取第20120806天数据，数据总长度为:2128
爬取第20120428天数据，数据总长度为:2195
爬取第20120119天数据，数据总长度为:2259
爬取第20111011天数据，数据总长度为:2329
爬取第20110703天数据，数据总长度为:2394
爬取第20110325天数据，数据总长度为:2461
爬取第20101215天数据，数据总长度为:2527
爬取第20100906天数据，数据总长度为:2591
爬取第20100529天数据，数据总长度为:2658
爬取第20100218天数据，数据总长度为:2726
爬取第20091110天数据，数据总长度为:2794
爬取第20090802天数据，数据总长度为:2859
爬取第20090424天数据，数据总长度为:2927
爬取第20090114天数据，数据总长度为:2993
爬取第20081006天数据，数据总长度为:3063
爬取第20080628天数据，数据总长度为:3127
爬取第20080320天数据，数据总长度为:3195
爬取第20071211天数据，数据总长度为:3260
爬取第20070902天数据，数据总长度为:3326
爬取第20070525天数据，数据总长度为:3397
爬取第20070214天数据，数据总长度为:3459
爬取第20061106天数据，数据总长度为:3528
爬取第20060729天数据，数据总长度为:3593
爬取第20060420天数据，数据总长度为:3660
爬取第20060110天数据，数据总长度为:3725
爬取第20051002天数据，数据总长度为:3789
爬取第20050624天数据，数据总长度为:3860
爬取第20050316天数据，数据总长度为:3927
爬取第20041206天数据，数据总长度为:3942
爬取第20040828天数据，数据总长度为:3942
爬取第20040520天数据，数据总长度为:3942
爬取第20040210天数据，数据总长度为:3942
爬取第20031102天数据，数据总长度为:3942
爬取第20030725天数据，数据总长度为:3942
爬取第20030416天数据，数据总长度为:3942
爬取第20030106天数据，数据总长度为:3942
爬取第20020928天数据，数据总长度为:3942
爬取第20020620天数据，数据总长度为:3942
爬取第20020312天数据，数据总长度为:3942
爬取第20011202天数据，数据总长度为:3942
爬取第20010824天数据，数据总长度为:3942
爬取第20010516天数据，数据总长度为:3942

In [8]:
data

,ts_code,trade_date,pre_close,open,high,low,close,change,pct_chg,vol,amount
0,510050.SH,20210510,3.399,3.417,3.417,3.362,3.399,0.000,0.0000,4780906.38,1619889.168
0,510050.SH,20210507,3.444,3.455,3.460,3.390,3.399,-0.045,-1.3066,4522384.41,1546822.837
0,510050.SH,20210506,3.482,3.462,3.508,3.432,3.444,-0.038,-1.0913,6658387.28,2309635.845
0,510050.SH,20210430,3.513,3.510,3.517,3.460,3.482,-0.031,-0.8824,7126829.01,2485156.707
0,510050.SH,20210429,3.467,3.476,3.515,3.463,3.513,0.046,1.3268,5186873.94,1814097.186
...,...,...,...,...,...,...,...,...,...,...,...
0,510050.SH,20050301,0.872,0.870,0.873,0.865,0.867,-0.005,-0.5734,2080944.56,180573.596
0,510050.SH,20050228,0.880,0.878,0.879,0.870,0.872,-0.008,-0.9091,1879651.93,164467.462
0,510050.SH,20050225,0.876,0.877,0.887,0.875,0.880,0.004,0.4566,5064606.95,446597.972
0,510050.SH,20050224,0.876,0.876,0.876,0.868,0.876,0.000,0.0000,4516142.23,394141.216
0,510050.SH,20050223,0.887,0.881,0.882,0.866,0.876,-0.011,-1.2401,12697425.42,1111793.167

### 给数据增加标签列，1表示涨，0表示跌

In [9]:
data_sort = data.sort_values(['ts_code','trade_date'],ascending=['False','False'])

In [10]:
label = data_sort['pre_close']<=data_sort['close']
data_sort['label'] = label
data_sort.head()

,ts_code,trade_date,pre_close,open,high,low,close,change,pct_chg,vol,amount,label
0,510050.SH,20050223,0.887,0.881,0.882,0.866,0.876,-0.011,-1.2401,12697425.42,1111793.167,False
0,510050.SH,20050224,0.876,0.876,0.876,0.868,0.876,0.000,0.0000,4516142.23,394141.216,True
0,510050.SH,20050225,0.876,0.877,0.887,0.875,0.880,0.004,0.4566,5064606.95,446597.972,True
0,510050.SH,20050228,0.880,0.878,0.879,0.870,0.872,-0.008,-0.9091,1879651.93,164467.462,False
0,510050.SH,20050301,0.872,0.870,0.873,0.865,0.867,-0.005,-0.5734,2080944.56,180573.596,False

In [11]:
data_sort.to_csv('20_year_FD.csv',index = False)